pkgbase = markdeasy
	pkgdesc = Un éditeur Markdown moderne avec prévisualisation en temps réel (Tauri)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Aissam-salman/markeasy
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = librsvg
	depends = gcc-libs
	depends = glibc
	provides = markdeasy
	conflicts = markdeasy
	source = git+file:///home/salman/Work/LAB/markeasy
	sha256sums = SKIP

pkgname = markdeasy
